In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import pysam
from collections import Counter

In [3]:
bam = pysam.AlignmentFile('/staging/as/wenzhenl/ribocop-test/SRX217030.bam', 'rb')

In [4]:
cnt = Counter()
ite = 0
for r in bam.fetch(until_eof=True):
    ite += 1
    if ite > 1000000:
        break
    pos = r.get_reference_positions(full_length=True)
    seq = r.query_sequence
    off3 = off5 = 0
    for i in range(len(pos)):
        if pos[i] is None:
            off5 += 1
        else:
            break
    for i in range(len(pos)-1, -1, -1):
        if pos[i] is None:
            off3 += 1
        else:
            break
    seq5 = seq[:off5]
    seq3 = seq[::-1][:off3]
    cnt[(off5, seq5, off3, seq3)] += 1

In [5]:
len(cnt)

42531

In [7]:
cnt.most_common(50)

[((0, '', 0, ''), 78281),
 ((12, 'TTTATCAGATCA', 0, ''), 60878),
 ((0, '', 4, 'AAAA'), 30224),
 ((4, 'TTTT', 0, ''), 30094),
 ((3, 'TTT', 0, ''), 29106),
 ((0, '', 3, 'AAA'), 28916),
 ((0, '', 5, 'AAAAA'), 26072),
 ((5, 'TTTTT', 0, ''), 24355),
 ((0, '', 2, 'AA'), 23038),
 ((0, '', 1, 'A'), 21718),
 ((2, 'TT', 0, ''), 21184),
 ((1, 'T', 0, ''), 18076),
 ((0, '', 6, 'AAAAAA'), 16722),
 ((0, '', 10, 'AAAAAAAAAA'), 13804),
 ((1, 'T', 1, 'A'), 12884),
 ((6, 'TTTTTT', 0, ''), 12808),
 ((1, 'T', 3, 'AAA'), 11951),
 ((0, '', 7, 'AAAAAAA'), 11654),
 ((0, '', 12, 'AAAAAAAAAAAA'), 11051),
 ((1, 'T', 2, 'AA'), 10598),
 ((0, '', 9, 'AAAAAAAAA'), 9630),
 ((0, '', 8, 'AAAAAAAA'), 9146),
 ((3, 'TTT', 1, 'A'), 8180),
 ((7, 'TTTTTTT', 0, ''), 7774),
 ((11, 'TTATCAGATCA', 0, ''), 7749),
 ((0, '', 11, 'AAAAAAAAAAA'), 7237),
 ((2, 'TT', 1, 'A'), 7208),
 ((8, 'TTTTTTTT', 0, ''), 6255),
 ((5, 'ACCAC', 0, ''), 6001),
 ((9, 'TTTTTTTTT', 0, ''), 5604),
 ((1, 'A', 0, ''), 5458),
 ((1, 'T', 4, 'AAAA'), 5455),
 ((1, 'T', 5, 'AAAAA'), 5354),
 ((10, 'TTTTTTTTTT', 0, ''), 5222),
 ((4, 'TTTT', 1, 'A'), 4604),
 ((5, 'TCCAC', 0, ''), 4464),
 ((11, 'TTTTTTTTTTT', 0, ''), 4292),
 ((12, 'TTTTTTTTTTTT', 0, ''), 4200),
 ((0, '', 5, 'AAAAT'), 4195),
 ((0, '', 13, 'AAAAAAAAAAAAA'), 4188),
 ((0, '', 4, 'AAAT'), 4150),
 ((3, 'CAC', 0, ''), 4050),
 ((0, '', 12, 'AAAAAAAAAAAT'), 3863),
 ((4, 'TTTA', 0, ''), 3651),
 ((5, 'TTTTA', 0, ''), 3268),
 ((0, '', 5, 'AAAAC'), 3214),
 ((0, '', 6, 'AAAAAT'), 2990),
 ((0, '', 11, 'AAAAAAAAAAT'), 2855),
 ((5, 'TTTTG', 0, ''), 2655),
 ((5, 'TTTTT', 1, 'A'), 2652)]